
/* Reset and base styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('./all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;  /* Prevents scrolling */
}

.app-container {
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noise-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;  /* Layer the canvas behind the text */
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text horizontally */
  width: 100vw;
  color: #B2AA8E; /* Light color for text */
  font-size: 24px;
  font-weight: bold;
  background-color: transparent; /* Transparent background */
  font-family: "Playwrite NL", sans-serif;
}

.image-container {
  position: fixed;
  top: 120px;
  right: 120px;
}

.image-container img {
  width:200px; /* Adjust as needed */
  height: auto;
}

.text {
  margin: 10px;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
}

.footer {
  display: flex;
  position: fixed;
  justify-content: center; 
  align-items: flex-end;
  width: 100vw;
  gap: 20px;
  bottom: 3rem;
  color: #B2AA8E;
  font-size: 1.5rem;
  font-family: "Tiny5", sans-serif;
  font-weight: bold;
}
.text1,  .text2,  .text3 {
    font-family: "Anton", sans-serif;
} 


.text2 {
  font-size: 10rem;
}
a {
  color: #B2AA8E !important;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vw);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

.text1-animate {
  animation: moveUp 0.5s forwards;
}

.text2-animate {
  animation: moveDown 3s forwards;
}

@keyframes circleMotion {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(-50px, -50px) rotate(360deg); /* Adjust translate values and rotation */
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background : transparent;
  padding: 10px;
  z-index: 1000;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

